.configuracao {
    width: 280px;
}

.configuracao .cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0px 0px;
    margin-left: 10px;
}

.configuracao img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.configuracao .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.configuracao .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.configuracao .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.conteiner_configuracao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    max-width: 80%;
}

.main {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    background-color: #F2F2F2;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}